{% extends 'users/base.html' %}

<!-- Title block -->
{% block title %} Django Auth | Home {% endblock %}

<!-- Content block -->
{% block content %}
<main class="container">
  <!-- The flash message -->
  {% if messages %} {% for message in messages %}
  <div class="alert alert-{{ message.tags }} mt-3">{{ message }}</div>
  {% endfor %} {% endif %}

  <!-- Page content -->
  <h2 class="mt-5">Home page</h2>
  <p>
    This is the index page. This page can be accessed by anyone as it does not
    require any Authentication.
  </p>
</main>
{% endblock %}
